<div class="form">
  <mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
      <span class="title-center">{{
        isEditingMode ? 'Edit Category' : 'Add Category'
      }}</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-dialog-content class="mat-typography">
    <form [formGroup]="categoryForm">
      <div>
        <mat-form-field appearance="fill" fxFlex>
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" required="true" />
          <mat-error
            *ngIf="
              categoryForm.controls['name'].invalid &&
              categoryForm.controls['name'].touched
            "
          >
            <span
              *ngIf="
                categoryForm.controls['name'].errors &&
                categoryForm.controls['name'].errors['required']
              "
            >
              This Field is mendatory.</span
            >
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-dialog-content>
  <div class="actions">
    <mat-dialog-actions align="center">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        (click)="onFormSubmit()"
        [disabled]="categoryForm.invalid"
      >
        {{ isEditingMode ? 'Update' : 'Add' }}
      </button>
      <button mat-raised-button color="warn" mat-dialog-close="true">
        Close
      </button>
    </mat-dialog-actions>
  </div>
</div>
