<mat-toolbar color="primary">
  <mat-icon style="margin-right: 5px">restaurant</mat-icon>
  <span>Restaurant Management System</span>
  <span class="spacer"></span>
  <button
    mat-flat-button
    color="primary"
    style="font-size: 20px"
    (click)="handleLoginAction()"
  >
    <mat-icon>login</mat-icon> Login
  </button>
  <button
    mat-flat-button
    color="primary"
    style="font-size: 20px"
    (click)="handleSignUpAction()"
  >
    <mat-icon>how_to_reg</mat-icon> Signup
  </button>
</mat-toolbar>
